h1 {
    color: red;
    font-size: 18px;
}
h2 {
    color: green;
    font-size: 16px;
}
p {
    background-color: green;
    font-size: 12px;
}
em {
    font-size: 14px;
    color: darkblue;
}
@media (max-width: 600px) {
    body {
        background-color: red;
    }
}
@media (min-width: 600px) {
    body {
        background-color: yellow;
    }
}