body {
    font-size: 24px;
    width: 900px;
}

div#phishing {
    font-size: 15px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

div#contact {
    font-size: 75%;
    width: 40em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

div#klacht {
    font-size: 0.75rem;
    width: 40rem;
    font-weight: bold;
}